:root {
    --font-size-main: 120px;
    --font-size-title: 70px;
    --font-size-main-desc: 32px;

    --color-main: #2a2a2a;
    --color-red: #FF2615;
    --color-grey: #D9D9D9;

    --border-main: 3px solid #2a2a2a;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Onest';
    font-weight: 400;
    font-size: 17px;
    color: var(--color-main);
}
.mainWrapper {
    max-width: 1280px;
    padding: 0 40px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.imageWithText {
    line-height: 1.4em;
}
/* Спецификация */
.wrap {
    display: flex;   
}
a.btnBig {
    border: 3px solid #2A2A2A;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #2a2a2a;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px 0;
}
.mainTitle {
    font-size: var(--font-size-main);
    line-height: 0.85em;
    font-weight: 700;
}

.title {
    font-weight: 700;
    font-size: 70px;
    line-height: 70px;
}
.title span {
    display: block;
}
.title span.red {
    color: var(--color-red);
}
.btn {
    border: 3px solid;
    border-radius: 40px;
    background: transparent;
    padding: 10px 18px;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
    display: inline-block;
    color: var(--color-main);
    text-decoration: none;
}
.btn:hover {
    color: var(--color-red);
}
.reg.active {
    padding-left: 37px;
    color: var(--color-red);
    border: 3px solid var(--color-red);
    background: url(../img/check-btn.svg) no-repeat 6% 50%;
}
.sectionOffers.innerOffer .btn {
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
#changeCity {
    display: flex;
    align-items: center;
    cursor: pointer;
}
#changeCity img {
    width: auto;
    margin-left: 15px;
}
.image {
    position: relative;
}
.aroundRed:before {
    content: '';
    display: block;
    width: 290px;
    height: 290px;
    position: absolute;
    background: var(--color-red);
    border-radius: 50%;
    bottom: -80px;
    left: -110px;
    z-index: -1;
}
.lineRed:before {
    content: '';
    display: block;
    width: 1465px;
    height: 70px;
    position: absolute;
    background: var(--color-red);
    transform: rotate(70deg) translate(27rem, 32rem);
    z-index: -1;
}
.imageLeft {
    max-width: 807px;
    position: relative;
    z-index: -2;
}
p {
    line-height: 1.4em;
}
a {
    text-decoration: none;
    color: #808080;
}
ul {
    list-style: none;
}
li {
    position: relative;
    display: flex;
    align-items: center;  
    padding-left: 27px;
}
li:not(:last-child) {
    margin-bottom: 24px;  
}
li:before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background: #FF2615;
    margin-right: 15px;
    border-radius: 50%;
    position: absolute;
    left: 0;
}
label {
    border-bottom: 2px solid #d7d7d7;
    display: flex;
    margin-bottom: 37px;
    position: relative;
}
input,
textarea {
    font-family: 'Onest';
    border: 0;
    outline: none;
    width: 100%;
    padding: 25px 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    resize: none;
    overflow: hidden;
    height: 75px;
}
label button {
    border: 0;
    outline: none;
    background: transparent;
    cursor: pointer;
}
.placeholder {
    position: absolute;
    font-size: 20px;
    font-weight: 500;
    translate: 0 5px;
    color: #808080;
    cursor: text;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all .5s linear;
}
.placeholder.active {
    font-size: 15px;
    translate: 0 -38px;
    color: var(--color-main);
}
.innerPage .formSearch {
    margin: 40px 0 48px;
} 
.formSearch label {
    padding: 0 5px;
    border-bottom: 1px solid #d7d7d7;
    margin: 0;
}
.formSearch input {
    font-size: 17px;
    padding: 12px 0;
}
.search {
    max-width: 320px;
    display: flex;
    align-items: center;
}
.search button {
    margin-right: 15px;
}
input[type="search" i]::-webkit-search-cancel-button {
    opacity: .5;
    filter: brightness(0.1);
    cursor: pointer;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.descSection {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
}
label.labelCheckbox {
    border: 0;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-main);
    cursor: pointer;
    margin-bottom: 40px;
}
label.labelCheckbox input[type='checkbox'] {
    display: none;
}
label.labelCheckbox .checkbox {
    position: relative;
    margin-right: 12px;
}
label.labelCheckbox span {
    display: flex;
    width: 28px;
    height: 28px;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
}
label.labelCheckbox:hover span {
    background: url(../img/check.svg) no-repeat 50% 50%;
    filter: contrast(0.5);
}
label.labelCheckbox input:checked ~ span {
    background: var(--color-red) url(../img/check.svg) no-repeat 50% 50%;
    border: 1px solid var(--color-red);
    filter: contrast(1);
}

/*

*/
.inputDinamicWrap {
    margin-bottom: 37px;
}
.inputDinamic {
    position: relative;    
    border-bottom: 2px solid #d7d7d7;
}
.inputDinamic:hover {    
    border-bottom: 2px solid var(--color-main);
}
.inputDinamic label{
    position: absolute;
    top: 21px;
    border: 0;
    cursor: text;
    font-size: 20px;
    font-weight: 500;
    translate: 0 5px;
    color: #808080;
    z-index: 1;
}
.inputDinamic input:focus + label,.inputDinamic input:not(:placeholder-shown) + label{
    opacity:1;
    /* transform: scale(.9) translateY(-100%) translateX(-10px); */
    /* transform: scale(0.75) translateY(-190%) translateX(-21px); */
    font-size: 15px;
    top: -13px;
    color:#000;
    z-index: 2;
}
.inputDinamic input:focus{
    outline-color: transparent;
}
.inputDinamic input{
    width:100%;
    position: relative;
    z-index: 2;
    background: transparent;
}
.inputDinamic label,.inputDinamic input{
    transition: all 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity: 1;
}
.customSelectPlaceholder {
    position: absolute;
    color: #808080;
    top: 25px;
    font-weight: 500;
    font-size: 20px;
    opacity: 0;
    transition: all .3s linear;
    z-index: -1;
}
.customSelectPlaceholder.active {
    color:#000;
    position: absolute;
    top: -8px;
    font-size: 15px;
    opacity: 1;
    z-index: 0;
}
.inputDinamic span {
    position: absolute;
    left: 0;
    bottom: -33px;
    font-size: 15px;
    color: #808080;
}
.inputDinamicWrap .inputDinamicTextBottom {
    margin-top: 10px;
    display: inline-block;
    font-size: 14px;
}
.wrapBtn {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -5px;
}
.wrapBtn .btn {
    margin: 0 5px 12px;
}
.formText {
    font-size: 17px;
    font-weight: 500;
    margin-left: 35px;
}
.formText a,
.policy a {
    color: var(--color-red);
}
.policy {
    font-size: 15px;
    display: block;
    margin-bottom: 36px;
}
span.btnEye {
    position: absolute;
    width: 24px;
    height: 24px;
    background: url(../img/eye-open.svg) no-repeat 50%  50%;
    bottom: 0;
    right: 0;
    left: auto;
    z-index: 2;
    cursor: pointer;
    transform: translate(0, -85%);
}
span.btnEye.active {
    background: url(../img/eye-close.svg) no-repeat 50%  50%;
}

/* Загрузка файла  */
.input-file {
	position: relative;
	border: 0;
    display: block;
}
.input-file span {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
    color: var(--color-main);
    border: 3px solid var(--color-main);
    border-radius: 40px;
    padding: 12px 20px;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;

}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

/* Hover/active */
.input-file:hover span {
	
}
.input-file:active span {
	
}
 
/* Disabled */
.input-file input[type=file]:disabled + span {
	background-color: #eee;
}
/* Пагинация */
.pagi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 83px;
}
.pagi .wrap a,
.pagi span {
    width: 44px;
    height: 44px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 8px;
}
.pagi .wrap span {
    opacity: .5;
}
.pagi .wrap a:hover {
    color: #808080;
    background: #d7d7d780;
}
.pagi .wrap a.active {
    background: var(--color-red)!important;
    color: #fff!important ;
}
.pagiBtn {
    font-size: 15px;
    color: var(--color-main);
    font-weight: 500;
    border: 3px solid;
    padding: 7px 17px;
    border-radius: 40px;
}
.pagiBtn:hover {
    color: var(--color-red);
}

/*ANCHOR --- Кастомизированный селект */
.customSelect {
    position: relative;
    width: 100%;
    border-bottom: 2px solid #d7d7d7;
    
    margin-bottom: 37px;
}
.customSelect select {
    display: none;
}
.select-selected {
    background-color: transparent;
    color: #808080;
    padding: 25px 0;
    height: 75px;
    cursor: pointer;
    font-size: 20px;
    
    line-height: 26px;
}
.select-selected:after {
    position: absolute;
    content: url(../img/arrow-dropdown.svg);
    display: block;
    top: 50%;
    right: 0;
    transition: all .3s ease;
    -webkit-transform: translate(0, -40%);
       -moz-transform: translate(0, -40%);
        -ms-transform: translate(0, -40%);
         -o-transform: translate(0, -40%);
            transform: translate(0, -40%);
}
.select-items div {
    color: #000000;
    padding: 27px 45px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}
.select-items div:hover {
    background: rgb(215 215 215 / 50%);
}
.select-items {
    position: absolute;
    color: var(--color-main);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 12px 0;
    background: #fff;
    max-height: 200px;
    overflow: auto;
    border: 2px solid #000;
}
.select-hide {
    display: none;
}
.same-as-selected {
    background-color: var(--color-0);
    color: var(--color-11);
}
.select-selected.select-arrow-active:after {
    rotate: -180deg;
    translate: 0 -80%;
}
/* Скрол */
.select-items::-webkit-scrollbar {
    width: 5px;
    background-color: #fff;
}
.select-items::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
}
/* Alphabet */
.alphabet .list {
    display: flex;
    flex-wrap: wrap;
}
.alphabet a {
    text-transform: uppercase;
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: 0 8px 12px 0;
}
.alphabet a.active {
    background: var(--color-red);
    color: #fff;
}
.alphabet a:hover {
    background: #d7d7d780;
}
/* Top panel */
.topPanel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 0;
}
.topPanel.active {
    background: #fff;
}
.topPanel.active .burger span:nth-child(2) {
    display: none;
}
.topPanel.active .burger span:nth-child(1) {
    transform: rotate(45deg) translate(0px, 7px);
    width: 30px;
}
.topPanel.active .burger span:nth-child(3) {
    transform: rotate(-45deg) translate(0px, -6px);
    width: 30px;
}
.menu {
    margin: 0 auto 0 80px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.burger span {
    display: block;
    height: 3px;
    width: 24px;
    background: #2a2a2a;
}
.burger {
    margin-right: 15px;
}
.burger span:not(:last-child) {
    margin-bottom: 7px;
}
.topPanel.active  .burger {
    margin-right: 9px;
}
/* Popups */
.overlayPopup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #00000063;
    z-index: -99999;
    opacity: 0;
    transition: all .2s ease;
}
.closeBtnPopup img {
    width: auto;
    height: auto;
}
.social:hover,
.closeBtnPopup:hover {
    filter: invert(13%) sepia(97%) saturate(11107%) hue-rotate(1078deg) brightness(170%) contrast(113%);
}
.closeBtnPopup {
    position: absolute;
    top: 30px;
    right: 35px;
    cursor: pointer;
}
.popupModal.active .overlayPopup {
    opacity: 1;
    z-index: 10;
}
.popup {
    position: fixed;
    max-width: 650px;
    z-index: 11;
    width: 100%;
    top: 0;
    right: 0;
    height: 100%;
    opacity: 0;
    z-index: -99999;
    transition: all .2s ease;
}
.popupModal.active .popup {
    opacity: 1;
    z-index: 10;
}
.animateLines {
    display: flex;
}
.animateLine {
    position: relative;
    width: 25%;
    height: 100vh;
    background: #fff;
    translate: 0% 100%;
    transition: all 1s linear;
}
.animateLine:before {
    content: '';
    display: block;
    background: var(--color-red);
    width: 100%;
    height: 300px;
    top: 0;
    position: absolute;
    translate: 0% -100%;
}
.popupModal.active .animateLine {
    translate: 0% 0%;
}
.animateLine:nth-child(1) {
    translate: 0% 300%;
}
.animateLine:nth-child(2) {
    translate: 0% 250%;
}
.animateLine:nth-child(3) {
    translate: 0% 200%;
}
.animateLine:nth-child(4) {
    translate: 0% 100%;
}
.popupBody {
    translate: 0% 100%;
    height: 100vh;
    padding: 75px;
}
.popupModal.active .popupBody {
    translate: 0% -100%;
    transition: all 1.8s ease;
    overflow: auto;
}
.popupBody .title {
    margin-bottom: 41px;
}
/* Скрол */
.popupBody::-webkit-scrollbar {
    width: 5px;
    background-color: var(--color-grey);
}
.popupBody::-webkit-scrollbar-thumb {
    background-color: var(--color-red);
}
/* Dropmenu */

.topMenu {
    position: fixed;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    display: none;
}
.topMenu.active {
    display: block;
}
.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    background: #000;
    opacity: .5;
    z-index: -1;
}
.topMenuDrop {
    background: #fff;
    border-top: 1px solid #D7D7D7;
}
.topMenuDrop a {
    color: var(--color-main);
    text-decoration: none;
}
.topMenuBody {
    padding: 61px 0;
    display: flex;
    justify-content: space-between;
}
.topMenuBig {
    display: flex;
    flex-direction: column;
}
.topMenuBig a {
    font-weight: 700;
    font-size: var(--font-size-title);
    line-height: 70px;
}
.topMenuBig a:not(:last-child) {
    margin-bottom: 50px;
}
.topMenuSmall {
    max-width: 285px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.topMenuSmall a {
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
}
.topMenuSmall a:not(:last-child) {
    margin: 20px 0 0;
}
.topMenuSmall .contacts {
    margin-top: auto;
}
.topMenuSmall .contacts .address, 
.topMenuSmall .contacts .phone {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #808080;
    margin-top: 10px;
    display: block;
}

/* Header */
.header .image {
    position: absolute;
    top: -270px;
    right: -45%;
    z-index: -1;
}
.header .mainTitle {
    margin: 45px 0 0;
}
.header .mainTitle span {
    color: var(--color-red);
}
.header .list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 655px;
    margin-top: 90px;
}
.header .listItem span {
    width: 90px;
    height: 90px;
    display: block;
    background: var(--color-grey);
    margin-bottom: 10px;
}
.header .listItem {
    width: 200px;
    font-weight: 500;
}
.header .description {
    font-weight: 700;
    font-size: var(--font-size-main-desc);
    line-height: 42px;
    max-width: 690px;
    margin-top: 160px;
}

/* section */
.section {
    padding: 68px 0;
}
.section .wrap {
    justify-content: space-between;
}
.sectionAbout {
    max-width: 316px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.section .mainTitle {
    margin-bottom: 18px;
}
.sectionAbout .text {
    font-size: 26px;
    font-weight: 500;
    margin-top: auto;
}
.sectionImage {
    max-width: 810px;
    width: 100%;
    height: 465px;
    background: var(--color-grey);
}

/* Секция с карточками на главной */
.sectionCards {
    padding-top: 50px;
}
.mainCards {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
}
.mainCards:nth-child(odd) {
    align-items: flex-end;
}
.mainCards:nth-child(even) {
    align-items: flex-start;
}
.mainCards:not(:last-child) {
    margin-bottom: 30px;
}
.mainCard {
    padding: 40px;
    border: var(--border-main);
    margin: 0 15px;
}
.mainCard.small {
    max-width: 423px;
    width: 100%;
}
.mainCard.big {
    max-width: 745px;
    width: 100%;
}
.mainCards .title {
    margin-bottom: 40px;
}
.mainCard ul {
    max-width: 470px;
    width: 100%;
}
.mainCard .btnMore {
    margin-top: 40px;
}

/* Секция сотни решений */
.sectionInfo {
    padding-top: 130px;
}
.sectionInfo .mainTitle {
    text-align: right;
    margin-bottom: 75px;
    width: 99%;
    margin-left: auto;
}
.sectionInfo .title {
    padding-left: 85px;
    margin-bottom: 32px;
}
.sectionInfo .title span:first-child {
    margin-left: 175px;
}
.imageWithText {
    display: flex;
    justify-content: space-between;
}
.sectionInfo .imageWithText p {
    width: 33%;
}
.sectionInfo .title.secondTitle {
    padding: 13px 115px 0 0;
    text-align: end;
    margin-bottom: 27px;
}
.sectionInfo .title.secondTitle span:nth-child(3) {
    margin-right: 80px;
}
.sectionInfo .title.secondTitle span:nth-child(2) {
    margin-right: 120px;
}
.sectionInfo .title.secondTitle span:nth-child(1) {
    margin: 0 250px 0 0;
}
.sectionInfo .desc.right {
    width: 100%;
    max-width: 410px;
    margin-left: auto;
}
.sectionInfo .imageRight {
    max-width: 620px;
    margin: 110px 0 0 auto;
}
.sectionInfo .thirdTitle {
    margin: -49px 0 28px 0;
    padding: 0;
}
.sectionInfo .thirdTitle span:first-child {
    margin-left: 0;
}
.sectionInfo .thirdTitle span:nth-child(2) {
    margin-left: 140px;
}
.desc.center {
    max-width: 628px;
    padding-right: 60px;
    margin: 0 auto;
}
.sectionInfo .btnBig {
    margin-top: 70px;
}

/* Секция с динамическим заголовком */
.sectionEffect {
    padding: 120px 0 0;
}
.sectionEffectImage {
    position: relative;
}
.sectionEffectElement {
    display: flex;
    position: absolute;
    top: 0;
}
.sectionEffectElement .title {
    padding: 55px 0 0 50px;
    color: #fff;
}
.sectionEffectElement .title span:nth-child(2) {
    margin-left: 120px;
}
.sectionEffectElement .arrow {
    margin-left: 170px;
}

.listElements {
    padding-top: 70px;
    position: relative;
}
.listElements .desc {
    max-width: 500px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    margin: 0 0 70px 50px;
}
.listElement {
    display: flex;
    align-items: center;
}
.listElement .image {
    max-width: 560px;
    width: 100%;
}
.listElement .name {
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
}
.listElement .line {
    height: 1px;
    width: 41%;
    margin: 0 auto;
    background: var(--color-red);
}
.listElement:nth-child(1),
.listElement:nth-child(2),
.listElement:nth-child(3) {
    padding-left: 50px;
    > .image {
        margin-left: 30px;
    }
    > .name {
        max-width: 82px;
        display: block;
        width: 100%;
    }
}
.listElement:nth-child(2) {
    padding-right: 130px;
}
.listElement:nth-child(3) {
    padding-right: 250px;
}
.listElement:nth-child(4),
.listElement:nth-child(5),
.listElement:nth-child(6) {
    padding-right: 15px;
    > .image {
        margin-right: 30px;
    }
    > .line {
        margin-right: 30px;
    }    
    > .name {
        max-width: 100px;
        display: block;
        width: 100%;
    }
}
.listElement:nth-child(4) {
    padding-left: 260px;
    > .line {
        width: 30%;
    } 
}
.listElement:nth-child(5) {
    padding-left: 125px;
    > .line {
        width: 35%;
    } 
}
.listElements:before {
    content: '';
    display: block;
    background: var(--color-red);
    width: 325px;
    height: 325px;
    border-radius: 50%;
    position: absolute;
    top: 35rem;
    right: 10rem;
}
.listElements:after {
    content: '';
    display: block;
    height: 71px;
    width: 645px;
    background: var(--color-red);
    position: absolute;
    z-index: -1;
    transform: rotate(37deg);
    bottom: 20rem;
    left: 2rem;
}

/* Секция выбор цвета лестницы */
.sectionColors {
    padding-top: 120px;
}
.sectionColors .title {
    padding-left: 88px;
    margin-bottom: 70px;
}
.sectionColors .title span:first-child {
    margin-left: 110px;
}
.stairsItem {
    display: none;
}
.stairsItem.active {
    display: block;
}
.stairsList .desc {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    max-width: 610px;
    margin-bottom: 45px;
}
.colorList {
    display: flex;
    flex-wrap: wrap;
}
.colorsSidebar {
    max-width: 360px;
    width: 100%;
}
.colorItem {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.colorItem input {
    display: none;
}
.colorItem:has([data-color='color1']) {
    background: #B27D40;
}
.colorItem:has([data-color='color2']) {
    background: #CD986F;
}
.colorItem:has([data-color='color3']) {
    background: #E8E1D1;
}
.colorItem:has([data-color='color4']) {
    background: #A97D58;
}
.colorItem:has([data-color='color5']) {
    background: #6F4722;
}
.colorItem:has([data-color='color6']) {
    background: #473427;
}
.colorItem:has([data-color='color7']) {
    background: #EE9191;
}
.colorItem:has([data-color='color8']) {
    background: #B9D1FF;
}
.colorItem:has([data-color='color9']) {
    background: #ECECEC;
}
.colorItem:has(:checked)::after {
    content: url(../img/checked.svg);
    border: 1px solid var(--color-main);
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.colorsSidebar .colorsSidebarTitle {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 32px;
}
.stairsColor:not(:last-child) {
    margin-bottom: 45px;
}
.colorsSidebar .btn {
    width: 375px;
    position: relative;
    margin-left: -14px;
}

/* Секция с весом */
.sectionWeight {
    padding-top: 130px;
}
.sectionWeight .title span:nth-child(2) {
    margin-left: 9%;
}
.sectionWeight .title span:nth-child(3) {
    margin-left: 51%;
}
.sectionWeight .title {
    margin-bottom: 70px;
}
.sectionWeight .wrap {
    max-width: 980px;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
}
.sectionWeight .desc {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    max-width: 415px;
    position: relative;
}
.sectionWeight .desc:after {
    content: '';
    display: block;
    width: 339px;
    height: 46px;
    background: var(--color-red);
    position: absolute;
    bottom: 0;
}
.sectionWeight .weight {
    position: relative;
}
.sectionWeight .weight:after {
    content: '';
    display: block;
    width: 289px;
    height: 289px;
    background: var(--color-red);
    border-radius: 50%;
    position: absolute;
    bottom: -9rem;
    right: -5rem;
    z-index: -1;
}
.sectionWeight .weight span {
    font-size: 220px;
    font-weight: 700;
    line-height: 171px;
    margin-bottom: 10px;
    display: block;
}
.sectionWeight .weight p {
    font-size: 20px;
    font-weight: 500;
    padding-left: 35px;
}

/* Секция про безопастность */
.sectionSafety {
    padding-top: 265px;
    position: relative;
}
.sectionSafety:after,
.sectionSafety:before {
    content: '';
    display: block;
    background: var(--color-red);
    position: absolute;
    bottom: 0;
}
.sectionSafety:after {
    width: 435px;
    height: 435px;
    border-radius: 50%;
    z-index: -1;
    bottom: 18%;
    left: 11%;
}
.sectionSafety:before {
    width: 706.935px;
    height: 71px;
    transform: rotate(-63deg) translate(35rem, 22rem);
}
.sectionSafety .title span:nth-child(2) {
    margin-left: 2%;
}
.sectionSafety .title span:nth-child(3) {
    margin-left: 42%;
}
.sectionSafety .image {
    max-width: 785px;
    margin-top: -55px;
}
.sectionSafetyWrap {
    position: relative;
}
.sectionSafetyWrap {
    position: absolute;
    top: 12%;
    right: -28%;
    max-width: 500px;
}
.sectionSafetyWrap .desc {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 13%;
}

/* Секция про монтажников */
.sectionPersonal {
    padding-top: 125px;
}
.sectionPersonal .title {
    max-width: 795px;
    margin-bottom: 70px;
}
.sectionPersonalAbout .desc {
    font-size: 26px;
    font-weight: 500;
    line-height: 32px;
}
.sectionPersonalAbout {
    max-width: 480px;
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.sectionPersonalAbout .btn {
    margin-top: auto;
}
.sectionPersonalItem {
    display: flex;
    align-items: flex-end;
}
.sectionPersonalItem .image {
    margin-right: 30px;
}

.sectionPersonalItem  .name {
    font-size: 26px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 10px;
}
.sectionPersonalItem .info {
    line-height: 24px;
    margin-bottom: 8px;
}
.sectionPersonalItem .count {
    display: flex;
    align-items: center;
}
.sectionPersonalItem .count span:first-child {
    display: block;
    width: 28px;
    height: 28px;
    background: var(--color-grey);
    margin-right: 10px;
}

/* Секция про изменения лестниц */
.sectionChangeStairs {
    padding: 120px 0 0;
}
.sectionChangeStairs .title span:nth-child(3) {
    margin-left: 33%;
}
.sectionChangeStairs .title span:nth-child(4) {
    margin-left: 19%;
}
.sectionChangeStairs .wrap {
    justify-content: space-between;
}
.sectionChangeStairs .stairs {
    margin-right: -40px;
}
.sectionChangeStairs .about {
    width: 55%;
}
.sectionChangeStairs .about .desc {
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    padding-left: 19%;
    margin-top: 70px;
}
.sectionChangeStairs .stairs .desc {
    font-size: 13px;
    line-height: 18px;
    margin: 20px 0 0;
}

/* Секция с карточкой оффера */
.sectionOffers {
    padding: 120px 0 0;
}
.offer {
    border: 4px solid var(--color-main);
    padding: 55px 0;
    text-align: center;
}
.offer .title {
    margin-bottom: 70px;
}
.offer .desc {
    font-size: 26px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 25px;
}
.offer .wrap {
    justify-content: center;
}
.offer .wrap .btn:not(:last-child) {
    margin-right: 20px;
}
.sectionOffers .btn {
    display: inline-flex;
}

/* Секция с карточкой оффера на внутренних страницах */
.innerOffer .offer {
    padding: 95px 0;
}
.innerOffer .desc {
    font-size: 20px;
    margin-bottom: 35px;
}
.innerOffer .title {
    margin-bottom: 45px;
}
.innerOffer span {
    display: block;
    margin-bottom: 32px;
}
.offerBtn {
    padding: 18px 32px;
    font-weight: 500;
    font-size: 20px;
    background: var(--color-red);
    color: #fff;
    border-color: var(--color-red);
    line-height: 26px;
}
.offerBtn:hover {
    background: transparent;
    color: var(--color-red)
}

/* Футер */
.footer {
    padding: 120px 0 15px;
    display: flex;
    justify-content: space-between;
}
.footerAbout .logo {
    max-width: 165px;
    display: block;
    margin-bottom: 40px;
}
.footerAbout .btn {
    margin-right: 40px;
}
.socialLinks {
    display: flex;
}
.socialLinks .social:not(:last-child) {
    margin-right: 20px;
}
.footerAbout .address {
    margin: 55px 0 13px;
}
.contacts .phone {
    text-decoration: none;
    color: var(--color-main);
}
.footerMenu {
    max-width: 45%;
    display: flex;
    flex-wrap: wrap;
    padding: 82px 0 0;
}
.footerMenu  a {
    text-decoration: none;
    color: var(--color-main);
    width: 30%;
    padding: 0 0 0 28px;
    position: relative;
    margin-bottom: 24px;
    display: block;
}
.footerMenu  a:nth-child(odd) {
    width: 63%;
}
.footerMenu  a.dots:before {
    content: '';
    display: block;
    background: var(--color-red);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 45%;
    transform: translate(0, -50%);
}
/* Страница где купить Карточки магазинов */
.citySection {
    padding: 28px 0 0;
}
.cityList {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.cityContacts {
    border: 1px solid rgba(0, 0, 0, 0.24);
    padding: 20px;
    margin: 0 10px 20px;
    max-width: 31.5%;
    width: 100%;
}

.citySection .title {
    margin-bottom: 30px;
}
.cityContacts .name {
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 8px;
}
.cityContacts .timeWork {
    margin: 40px 0 0;
    display: flex;
    flex-direction: column;
}
.cityContacts .contacts {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
}
.cityContacts .contacts a {
    margin-bottom: 3px;
}
a.site {
    color: var(--color-red);
}

/* Страница Контакты */
.contactSection {
    padding: 60px 0 0;
}
.contactBlock {
    width: 47%;
}
.contactBlock:not(:last-child) {
    margin-right: 70px;
    padding-right: 110px;
}
.contactBlock .title {
    margin-bottom: 15px;
}
.contactItem a,
.contactItem span {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: var(--color-main);
}
.contactItem .name {
    margin-bottom: 13px;
}
.contactList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contactItem {
    width: 45%;    
    margin-bottom: 50px
}
.map .desc {
    display: block;
    margin-top: 16px;
}
.contactSection .wrap {
    padding-bottom: 60px;
}
.contactBlock .form {
    padding-right: 60px;
}

/* Страница выбора Монтажников */
.personalList {
    display: flex;
    margin: 0 -20px -30px;
    flex-wrap: wrap;
    align-items: flex-start;
}
.personalItem {
    margin: 0 20px;
    position: relative;
    width: 21.5%;
    padding-bottom: 60px;
}
.personalItem .btn {
    display: none;
    position: absolute;
}

.personalItem:hover .btn {
    display: block;
}
.personalItem:before {
    content: '';
    display: block;
    background: #fff;
    border: 3px solid #000000;
    width: 120%;
    height: 110%;
    position: absolute;
    z-index: -1;
    top: -27px;
    left: -28px;
    display: none;
}
.personalItem:hover::before {
    display: block;
}
.personalItem .name {
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    margin: 23px 0 10px;
    word-break: break-word;
}
.personalItem .city {
    margin-bottom: 8px;
}
.personalItem .icon {
    margin-right:10px;
}
.personalItem .btn {
    width: 100%;
    margin-top: 12px;
    text-align: center;
}
.personalItem .image {
    z-index: -2;
}
.personalItem:hover .image {
    z-index: 0;
}
.countPersonal {
    display: block;
    margin: 52px 0 50px;
}


/* Страница предложение для дилеров */
.headerInner .mainTitle {
    margin: -210px 0 0;
}
.headerInner {
    padding-bottom: 100px;
}
.headerInner  .white {
    color: #fff;
}
.tiles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.tile {
    width: 200px;
    height: 200px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tile:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
.tile:nth-child(2) { grid-area: 1 / 2 / 2 / 3; }
.tile:nth-child(3) { grid-area: 2 / 1 / 3 / 2; }
.tile:nth-child(4) { grid-area: 2 / 2 / 3 / 3; }
.tile:nth-child(5) { grid-area: 3 / 1 / 4 / 2; }
.tile:nth-child(6) { grid-area: 3 / 2 / 4 / 3; }

/*Секция наличия*/

.sectionExistence .title span:nth-child(2) {
    margin-left: 75px;
}
.sectionExistence .wrapBlock:first-child {
    width: 50%;
}

.sectionExistence .descSection {
    padding: 25px 0 0 140px;
}

/*Секция доставки*/

.sectionDelivery {
    padding: 100px 0 0;
}

.sectionDelivery .title span:nth-child(1) {
    margin-left: 12%;
}
.deliveryList {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding-top: 87px;
    position: relative;
}
.deliveryItem {
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    padding-left: 21%;
}
.deliveryItem:not(:last-child) {
    border-bottom: 2px solid var(--color-red);
    padding-bottom: 45px;
    margin-bottom: 35px;
}
.deliveryItem:nth-child(1) {
    margin-right: 67px;
}
.deliveryItem:nth-child(2) {
    margin-right: 160px;
}
.deliveryItem:nth-child(3) {
    margin-right: 38%;
    padding: 0;
}
.deliveryItem span {
    font-weight: 400;
    font-size: 17px;
    line-height: 50px;
}
.sectionDelivery .descSection {
    width: 33%;
    margin-top: 25px;
}
.deliveryList:before {
    content: '';
    display: block;
    width: 800px;
    height: 70px;
    position: absolute;
    background: var(--color-red);
    position: absolute;
    left: 0;
    rotate: -30deg;
    translate: -35px 20px;
}

/*Секция Личный кабинет*/

.sectionCabinet {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 95px;
}
.sectionCabinet .title {
    text-align: end;
    width: 100%;
    margin-bottom: 25px;
}
.sectionCabinet .title span:nth-child(1) {
    margin-right: 23%;
}
.sectionCabinet .title span:nth-child(2) {
    margin-right: 1%;
}   
.sectionCabinet .image {
    width: 49%;
}
.sectionCabinet .about {
    width: 50%;
    padding-left: 93px;
}
.sectionCabinet .btn {
    padding: 17px 30px;
    margin-top: 46px;
    font-size: 20px;
}

/* Секция обучения */

.sectionStudy {
    padding: 100px 0 0;
}
.sectionStudy .title span:nth-child(2) {
    margin-left: 6%;
}
.sectionStudy .descSection {
    width: 100%;
    padding: 30px 0 0 143px;
    max-width: 560px;
}
.sectionStudy .image {
    max-width: 605px;
    margin-left: auto;
    margin-top: 25px;
}

/* Секция калькулятора */

.sectionCalc {
    padding: 120px 0 290px ;
    position: relative;
}
.sectionCalc .title span:nth-child(2) {
    margin-left: 7%;
}
.sectionCalc .title span:nth-child(3) {
    margin-left: 12%;
}
.calc .count {
    color: #808080;
    font-size: 160px;
    font-weight: 700;
}
.sectionCalc .descSection {
    max-width: 350px;
    margin-left: 150px;
    margin-top: 30px;
}
.sectionCalc .wrapBlock:last-child {
    margin-left: auto;
    line-height: 6em;
}
.calc {
    position: relative;
}
.calc:before,
.calc:after {
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: absolute;
}
.calc:before {
    top: -137%;
    left: 19%;
    background: var(--color-main ) url(../img/minus.svg) no-repeat 50% 50%;
}
.calc:after {
    bottom: -113%;
    background: var(--color-red) url(../img/plus.svg) no-repeat 50% 50%;
    right: 12%;
}
.calc .desc {
    font-size: 20px;
    color: #808080;
    margin-top: 40px;
}

/* Секция скидок */

.sectionSale {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 220px;
}
.sectionSale .title {
    text-align: end;
}
.sectionSale .title span:first-child {
    margin-right: 105px;
}
.sectionSale .title span:last-child {
    margin-right: 50px;
}
.sectionSale .descSection {
    max-width: 300px;
    margin-top: 25px;
}
.sectionSale .image {
    margin-right: auto;
    margin: -50px auto 0 85px;
}

/* Секция чистой прибыли */

.sectionProfit {
    padding: 100px 0 135px;
}
.sectionProfit .title span:nth-child(2) {
    margin-left: 75px;
}
.sectionProfit .title span:nth-child(3) {
    margin-left: 140px;
}
.sectionProfit .descSection {
    max-width: 425px;
    margin-left: 142px;
    margin-top: 25px;
}
.profit {
    position: relative;
    font-size: 220px;
    font-weight: 700;
    text-align: end;
    margin-top: 48px;
    margin-right: 20px;
}
.profit:after,
.profit:before {
    content: '';
    display: block;
    background: var(--color-red);
    position: absolute;
}
.profit:before {
    width: 560px;
    height: 46px;
    bottom: -57px;
    left: 20%;
}
.profit:after {
    width: 290px;
    height: 290px;
    border-radius: 50%;
    bottom: -55%;
    right: 2%;
    z-index: -1;
}
.profit span {
    font-size: 20px;
    display: block;
    text-align: left;
    padding: 0 0 0 16rem;
    margin-top: -20px;
    margin-bottom: 0;
}
/* Секция скидок для монтажников*/

.sectionDiscounts .descSection {
    max-width: 410px;
    margin-top: 26px;
}
.sectionDiscounts .wrapBlock:first-child {
    width: 60%;
}
.sectionDiscounts .tile {
    color: #ffffff;
    font-weight: 700;
}
.sectionDiscounts .tile:nth-child(1) {
    font-size: 62px;
    background: var(--color-red);
}
.sectionDiscounts .tile:nth-child(4) {
    font-size: 52px;
    background: #808080;   
    width: 150px;
    height: 150px; 
}
.sectionDiscounts .tile:nth-child(5) {
    font-size: 32px;
    background: var(--color-main);   
    width: 120px;
    height: 120px; 
    margin: -50px 0 0 80px;
}
.sectionDiscounts {
    margin-bottom: -130px;
}

/* Секция монтажа*/

.sectionMontaj {
    padding: 100px 0 0;
}
.sectionMontaj .title span:nth-child(2) {
    margin-left: 75px;
}
.sectionMontaj .wrap {
    align-items: center;
}
.sectionMontaj .wrapBlock:first-child {
    width: 63%;
}
.sectionMontaj .descSection {
    max-width: 415px;
    margin-top: 25px;
    margin-left: 75px;
}

/* Секция база знаний */

.sectionWiki {
    padding: 225px 0 0;
    position: relative;
}
.sectionWiki:after {
    content: '';
    display: block;
    background: var(--color-red);
    height: 70px;
    width: 800px;
    top: 0;
    right: 0;
    position: absolute;
    rotate: 30deg;
    translate: -12% 18rem;
    z-index: -1;
}
.sectionWiki .image {
    width: 545px;
}
.sectionWiki .wrap {
    align-items: flex-end;
}
.sectionWiki .wrapBlock {
    width: 50%;
}
.sectionWiki .wrapBlock:nth-child(2) {
    margin-bottom: 155px;
    padding-left: 40px;
}
.sectionWiki .title span:first-child {
    margin-left: -58%;
}
.sectionWiki .descSection {
    margin: 25px 0;
    max-width: 460px;
}

/* Секция албома архитектора */

.sectionAlbum .wrapBlock:nth-child(2) {
    margin-right: -40px;
    width: 100%;
    max-width: 515px;
}
.sectionAlbum .wrapBlock .image {
    height: 680px;
}
.sectionAlbum .title span:nth-child(2) {
    margin-left: 70px;
}
.sectionAlbum .descSection {
    padding: 25px 70px 0 75px;
}
.sectionAlbum .desc {
    font-size: 13px;
    margin-top: 23px;
}

/* Секция албома архитектора */

.sectionVisual {
    padding-top: 100px;
}
.sectionVisual .title {
    text-align: right;
    padding-right: 70px;
    margin-bottom: 20px;
}
.sectionVisual .title span:first-child {
    margin-right: 38%;
}
.sectionVisual .wrapBock {
    width: 50%;
}
.sectionVisual .wrapBock:first-child {
    width: 49%;
}
.sectionVisual .wrapBock:nth-child(2) {
    margin-left: 90px;
}
.sectionVisual .wrapButtons {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}
.sectionVisual .wrapButtons .download {
    border-color: var(--color-red);
    color: #fff;
    background: var(--color-red);
}
.sectionVisual .wrapButtons .btn {
    padding: 11px 16px;
    margin-right: 22px;
    margin-bottom: 24px;
}

/* Секция вариации материалов */

.sectionMaterial {
    padding-top: 100px;
}
.sectionMaterial .title span:nth-child(2) {
    margin-left: 75px;
}
.sectionMaterial .descSection {
    padding: 0 0 0 ;
}
.sectionMaterial .descSection {
    padding: 25px 0 0 75px;
    max-width: 540px;
}

.materialWrapper {
    margin: 0 -25px;
}
.materialWrap {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 40px 0;
}
.materialItem {
    margin: 0 25px;
    max-width: 20.5%;
}
.materialItem span {
    margin-bottom: 7px;
    display: block;
    font-size: 17px;
}
.materialItem:nth-child(1) {
    margin-left: 345px;
    width: 100%;
}
.materialItem:nth-child(2) {
    margin-top: 90px;
} 
.materialItem:nth-child(3) {
    margin-top: 175px;
} 
.materialItem:nth-child(4) {
    margin-top: 210px;
    margin-left: 100px;
}
.materialItem:nth-child(5) {
    margin-top: 120px;
} 
.materialItem:nth-child(6) {
    margin-top: 30px;
} 